@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 50px 20px 20px;
}


.navbar {
  padding: 0.5rem 0;
}

// 自定义element表格样式
div.el-table{
  background-color: rgba(0,0,0,0);
}
.el-table__header th, .el-table__header tr {

  background-color: rgba(0,0,0,0);

  color: #fff;

}
tr.el-table__row{
  background-color: rgba(0,0,0,0);
  color: #fff;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: rgba(0,0,0,0.3) !important;
}


.filter-item {
  input.el-input__inner{
    background: none !important;
    border: 0;
    min-height: 28px;
  }
}

.el-table__expanded-cell{
  background: rgba(0,0,0,0);
}
table.el-table__body tr {
  background-color: rgba(0,0,0,0);
}

div.el-dialog {
  /*background-color: rgba(180,180,180,0.8);
  color:#fff;
  .el-input{
    color: #fff;
  }*/
  div.el-dialog__header{
    padding: 10px 20px;
    background: #333;
    // background: rgba(0,0,0,0.8);
    .el-dialog__headerbtn {
      top:10px;
      i.el-dialog__close{
        color: #fff!important;
      }
    }
  }
  .el-dialog__title{
    color:#fff;
  }
  div.el-dialog__body{
    padding: 30px 20px 0;
  }
  /*input.el-input__inner{
    background: rgba(200,200,200,0.7);
    border: 1px solid #999
  }*/
  /*label.el-form-item__label{
    color: #fff;
  }*/
}
.el-dialog {
  .el-table__header th, .el-table__header tr {
    color: #777;
  }
  tr.el-table__row{
    color: #777;
  }
}

.selectMemberDialog {
  .el-dialog{
    width: 600px !important;
    .el-dialog__body {
      text-align: center;
      padding-bottom: 20px !important;
    }
    .el-transfer-panel__footer {
      display: none;
    }
  }
}

div.el-pagination {
  height: 40px;
  line-height: 40px;
  input {
    min-height: 28px!important;
    line-height: 28px!important;
  }
  div.el-input.el-pagination__editor.is-in-pagination{
    line-height: 28px!important;
  }
  .btn-prev, .btn-next {
    background: rgba(0,0,0,0.3);
  }
  li.number.active {
    background: rgba(0,0,0,0.3);
  }
  .el-pagination__total, .el-pagination__jump {
    color: #fff;
  }
}


